<% provide :title, t(".list") %>

<%= render "layouts/slides" %>
<div class="container-fluid text-center">
  <h3><%= t ".list" %></h3>
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-2">
        <div class="thumbnail">
          <%= image_tag book.image %>
          <h5><%= book.name %></h5>
          <h5><%= link_to book.author.name %></h5>
          <%= link_to t(".detail"), book %>
        </div>
      </div>
    <% end %>
    <%= will_paginate @books %>
  </div>
</div>
